.about-section-container{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    max-width: 1200px;
    margin: auto;  
    border-radius: 30px;
    padding: 30px;
}

.about-section-container h1{
    text-align: center;
    padding: 20px;
}

.sub-about-section{
    display: flex;
}

.detail{
    margin-bottom: 20px;
}

.detail p {
    text-indent: 40px;
    text-align: justify;
    font-size: 17px;
}

.programer-language, .programer-language>h3{
    margin-bottom: 20px;
}

.ex-stacks-tools, .ex-stacks-tools>h3{
    margin-bottom: 20px;
}

.about-section-container .about-me-text{
    max-width: 60%;
    margin-left: 40px;
}

.about-section-container .img-box {
    background-color: var(--white-alpha-25);
    border: solid 1px var(--white-alpha-40);
    max-width: 100%;
    border-radius: 30px;
}

.borders{
    display: flex;
    flex-wrap: wrap;
}

.border{
    background-color: var(--white-alpha-25);
    padding: 5px 15px;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
}

.time-line-item{
    margin-bottom: 30px;
}

.time-line-item:last-child{
    margin-bottom: 0px;
}

.time-line-item .year{
    display: block;
    color: var(--main-color);
}

.time-line-item h4{}

.time-line-item span{

}


